.note {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: #fff;
  padding: 1rem;
  min-width: 20rem;
  max-width: 20rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.2);
  gap: 1rem;
  position: relative;
  height: fit-content;
}

.note p {
  line-height: 1.4rem;
}

.delete-button {
  width: 4rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f5ba13;
  background-color: transparent;
  font-weight: 3rem;
  /* background-color: #fffcf0f1; */
}
