.notes-container {
  flex: 7;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 1rem 1rem;
}

.notes {
  max-width: 1200px;
  height: fit-content;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
